RewriteEngine On

ErrorDocument 404 /404.html

# Rewrite the URL to remove the ".html" extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Rewrite the URL to remove the ".html" extension for pages in the "projects" folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^projects/([^\.]+)$ projects/$1.html [NC,L]

# Redirect old About URL to the new URL
Redirect 301 /about/ /about

# Redirect old Projects URL to the new URL
Redirect 301 /projects/ /my-work

# Redirect old Contact URL to the new URL
Redirect 301 /contact/ /contact