.error-content {
    position: relative;
    max-width: 1312px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-quote p {
    font-size: 16px;
    color: var(--neutral-10-white);
    font-family: 'Sloth-Regular', sans-serif;
    text-align: center;
    user-select: none;
    margin-bottom: 288px;
}

.error-binary {
    text-decoration: none;
    text-align: center;
    font-family: 'Twilio-Sans-Mono-ExtraBold', sans-serif;
    font-size: 64px;
    color: var(--green-40-baseline);
    margin: 0;
    user-select: none;
}

.go-home-container {
    width: 100%;
    justify-content: center;
    gap: 16px;
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
    margin-top: 48px;
    user-select: none;
  }
  
  .go-home-icon {
    width: 24px;
    height: 24px;
    position: relative;
    background-image: url("../images/icons/header/svg/home/home-default.svg");
  }
  
  .go-home-text {
    font-family: 'Sloth-Regular', sans-serif;
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    display: inline-block;
    margin-left: -1px;
  }
  

footer {
    text-align: center;
}

.social-media {
    list-style: none;
    padding: 0;
    margin-top: 378px;
    display: inline-block;
}

.social-media li {
    display: inline-block;
    margin: 0 20px;
    transition: filter 0.3s ease-in-out;
}

.social-media li:hover {
    filter: brightness(1) hue-rotate(120deg) invert(90%);
}

@media (max-width: 596px) {
    .error-binary {
        font-size: 48px;
    }
}

@media (max-width: 464px) {
    .error-binary {
        font-size: 36px;
    }
}