body {
    font-family: 'Sloth-Regular';
}

div {
    text-align: left;
}

.banner {
    height: 256px;
}

.project-title {
    font-size: 2.5rem;
    margin-bottom: 4px;
}

.project-description {
    width: 100%;
    margin-left: 0;
    text-align: left;
}

h2 {
    font-family: 'Twilio-Sans-Mono-Bold';
    font-size: 2rem;
    margin-bottom: 0;
}

ol {
    list-style-type: none;
    counter-reset: my-counter;
    margin-left: -8px;
}

.list-item {
    counter-increment: my-counter;
    margin-bottom: 12px;
}

.list-item::before {
    content: counter(my-counter) ". ";
    font-weight: bold;
    margin-right: 4px;
}

.list-item-start {
    font-family: 'Twilio-Sans-Mono-ExtraBold';
    font-size: 16px;
}

.link {
    text-decoration: none;
    color: var(--neutral-10-white);
    transition: 0.2s;
    font-weight: 900;
    text-decoration: var(--blurple-40-baseline) wavy underline;
}

.link:hover {
    color: var(--blurple-40-baseline);
}

.email {
    color: var(--green-40-baseline);
    font-size: 20px;
}

.list-image, .image-list {
    display: flex;
    flex-wrap: wrap;
}

.image-list {
    margin-top: 20px;
}

.list-image--list {
    flex: 1;
    margin-right: 48px;
}

.image-list--list {
    flex: 1;
    margin-right: 48px;
}

.image-portrait.image-container.image-zoom {
    flex: 1;
    max-width: 280px;
}

.highlight {
    color: var(--blurple-20);
    font-weight: 500;
}