.contact-content {
    position: relative;
    max-width: 1312px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-quote p {
    font-size: 16px;
    cursor: pointer;
    color: var(--neutral-10-white);
    font-family: 'Sloth-Regular', sans-serif;
    text-align: center;
    user-select: none;
    margin-bottom: 278px;
    height: 24px;
    text-decoration: var(--blurple-40-baseline) wavy underline;
    transition: color 0.2s;

}

.random-quote p:hover {
    color: var(--blurple-40-baseline);
    transition: color 0.2s;
}

.email {
    text-decoration: none;
    text-align: center;
}

.email h2 {
    font-family: 'Twilio-Sans-Mono-ExtraBold', sans-serif;
    font-size: 64px;
    color: var(--green-40-baseline);
    margin: 0;
}

footer {
    text-align: center;
}

.social-media {
    list-style: none;
    padding: 0;
    margin-top: 472px;
    display: inline-block;
}

.social-media li {
    display: inline-block;
    margin: 0 20px;
    transition: filter 0.3s ease-in-out;
}

.social-media li:hover {
    filter: brightness(1) hue-rotate(120deg) invert(90%);
}

@media (max-width: 596px) {
    .email h2 {
        font-size: 48px;
    }
}

@media (max-width: 464px) {
    .email h2 {
        font-size: 36px;
    }
}

@media (max-width: 768px) and (max-height: 980px ) {
    .email {
        margin-top: -40px;
    }
    footer {
        margin-top: -128px;
    }
}

@media (max-width: 768px) and (max-height: 812px) {
    .email {
        margin-top: -80px;
    }
    footer {
        margin-top: -128px;
    }
}

@media (max-width: 768px) and (max-height: 760px) {
    .email {
        margin-top: -120px;
    }
    footer {
        margin-top: -200px;
    }
}