.random-quote {
    position: relative;
    width: 100%;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
}

.random-quote p {
    font-size: 16px;
    cursor: pointer;
    color: #f5f5f5;
    font-family: 'Sloth-Regular', sans-serif;
    text-align: center;
    user-select: none;
}
