body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    scrollbar-gutter: initial;
    scroll-behavior: smooth;
}

.site-header {
    background-color: rgba(4, 4, 4, 0);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/home/test.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.glass-surface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    mask: radial-gradient(circle 600px at center, transparent 0%, transparent 70%, black 70%, black 100%);
}

.glass-surface::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/home/test.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -2;
}