.main-content {
    margin-top: 50px;
}

.carousel {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    display: inline-flex;
    margin-top: 20px;
}

.home-project-images {
    width: 640px;
    height: 640px;
    position: relative;
    border-radius: 999px;
}

.project-image {
    background-size: cover;
    display: block;
    width: 640px;
    height: 640px;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

.project-image.fade-out {
    opacity: 0;
}

.project-image.fade-in {
    opacity: 1;
}

.first-image,
.second-image,
.third-image,
.fourth-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
}

.first-image {
    z-index: 4;
    opacity: 1;
    background-image: url("../images/projects/kroo/kroo-banner.webp");
}

.second-image {
    z-index: 3;
    opacity: 0;
    background-image: url("../images/projects/ixpo/ixpo-banner.webp");
}

.third-image {
    z-index: 2;
    opacity: 0;
    background-image: url("../images/projects/copoll/copoll-banner2.webp");
}

.fourth-image {
    z-index: 1;
    opacity: 0;
    background-image: url("../images/projects/studio-orbyq/studio_orbyq-banner.webp");
}

.carousel .home-project-images {
    overflow: hidden;
}

.carousel .home-project-images a {
    transition: transform 0.3s, opacity 0.5s ease-in-out;
}

.carousel .home-project-images:hover a {
    transform: scale(1.2);
}

.arrow {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
}

.left {
    background-image: url("../images/carousel/arrow-left.svg");
}

.right {
    background-image: url("../images/carousel/arrow-right.svg");
}

.pagination {
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: inline-flex;
    margin-top: -12px;
}

.bullets {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
    display: flex;
}

.bullet {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.bullet-default {
    background-image: url("../images/carousel/circle-default.svg");
}

.bullet-active {
    background-image: url("../images/carousel/circle-active.svg");
}

.slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.icon-list-items {
    display: flex;
    list-style: none;
    font-family: 'Sloth-SemiBold';
    font-size: 14px;
    text-transform: uppercase;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    justify-content: center;
 }

.icon-list-item {
    list-style: none;
    display: flex;
    margin-right: 28px;
    margin-bottom: 4px;
}

.icon-list-icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2px;
    margin-right: 6px;
}

.branding-icon {
    background-image: url('../images/icons/labels/svg/branding.svg');
}

.website-icon {
    background-image: url('../images/icons/labels/svg/website.svg');
}

.app-icon {
    background-image: url('../images/icons/labels/svg/app.svg');
}

.styleguide-icon {
    background-image: url('../images/icons/labels/svg/styleguide.svg');
}

.visuals-icon {
    background-image: url('../images/icons/labels/svg/visuals.svg');
}

.heading-title {
    margin-top: 40px;
    font-family: 'Twilio-Sans-Mono-Bold';
    font-size: 32px;
}

.heading-title,
.icon-list-text {
    text-align: center;
}

.social-media {
    position: fixed;
    bottom: 0;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.social-media li{
    display: inline-block;
    margin-right: 40px;
    transition: filter 0.3s ease-in-out;
}

.social-media li:hover {
    filter: brightness(1) hue-rotate(120deg) invert(90%);
}

@media (max-width: 677px) {
    .carousel-container {
        margin-top: 104px !important;
    }

    .home-project-images {
        width: 504px;
        height: 504px;
    }

    .project-image {
        width: 504px;
        height: 504px;
    }

    .pagination {
        margin-top: -4px;
        gap: 20px;
    }

    .bullets {
        gap: 36px;
    }

    .social-media {
        display: flex;
       justify-content: center !important;
       align-items: flex-end;
       position: fixed;
       bottom: 32px !important;
       width: 97% !important;
   }
}

@media (max-width: 540px) {
    .home-project-images {
        width: 440px;
        height: 440px;
    }

    .project-image {
        width: 440px;
        height: 440px;
    }
}

@media (max-width: 464px) {
    .home-project-images {
        width: 360px;
        height: 360px;
    }

    .project-image {
        width: 360px;
        height: 360px;
    }
}

@media (max-width: 800px) {
    .social-media {
        display: none;
    }
    body {
    overflow: auto;
    }
}

@media (min-width: 1312px) {
    .social-media {
        position: fixed;
        right: calc((100% - 1312px) / 2);
    }
}