body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-image: url('../images/home/background/main.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.blur-overlay {
    background-color: rgba(4, 4, 4, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(16px);
}

.main-container {
    max-width: 1312px;
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 12%);
    color: var(--neutral-10-white);
    display: flex;
    flex-direction: column;
}

/* MAIN CONTENT */
.container {
    width: 100%;
    height: 712px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__left {
    width: calc(100% - 48.78%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__right {
    max-width: 48.78%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__left__title{
    font-family: 'Twilio-Sans-Mono-Bold';
    font-size: 64px;
    line-height: 110%;
    margin: 0 0 32px 0;
}

.container__left__subtitle {
    font-family: 'Sloth-Bold';
    font: 20px;
    text-transform: uppercase;
    color: var(--green-40-baseline);
    margin: 0;
}

.container__right__image {
    width: 100%;
    height: 100%;
}

.container__right__image__1 {
    background-image: url('../images/home/content/studio_orbyq_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* FOOTER */
footer {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 416px;
    margin-top: 80px;
}

.pagination,
.social {
    display: flex;
    align-items: center;
    gap: 32px;
}

.pagination__dot {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 2px solid var(--neutral-10-white);
    display: inline-block;
    box-sizing: border-box;
}

.pagination__dot__active {
    width: 20px;
    height: 20px;
    border: 0px;
    background-color: var(--green-40-baseline);
}

.social__icon img {
    width: 32px;
    height: 32px;
}