@font-face {
    font-family: 'Twilio-Sans-Mono-ExtraBold';
    src: url('../fonts/heading/TwilioSansMono-Extrabold.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Twilio-Sans-Mono-Bold';
    src: url('../fonts/heading/TwilioSansMono-Bold.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Sloth-Regular';
    src: url('../fonts/body/Sloth-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Sloth-SemiBold';
    src: url('../fonts/body/Sloth-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Sloth-Bold';
    src: url('../fonts/body/SLOTH\ BOLD.ttf') format('truetype');
    font-display: swap;
}


:root {
    /* neutral colors */
    --neutral-10-white: #f5f5f5;
    --neutral-20: #CDCDCD;
    --neutral-30: #B4B4B4;
    --neutral-40: #9B9B9B;
    --neutral-50: #828282;
    --neutral-60: #686868;
    --neutral-70: #4F4F4F;
    --neutral-80: #363636;
    --neutral-90: #1D1D1D;
    --neutral-100-black: #040404;
    --neutral-100-transparent: rgba(4, 4, 4, 0.8);

    /* green */
    --green-10: #9CFBAB;
    --green-20: #6AF980;
    --green-30: #39F756;
    --green-40-baseline: #07F52C;
    --green-50: #06C423;
    --green-60: #04931A;
    --green-70: #036212;

    /* blurple */
    --blurple-10: #B7A6F8;
    --blurple-20: #927AF4;
    --blurple-30: #6E4DF1;
    --blurple-40-baseline: #4A21ED;
    --blurple-50: #3B1ABE;
    --blurple-60: #2C148E;
    --blurple-70: #1E0D5F;

    scrollbar-color: var(--neutral-70) var(--neutral-100-black);
    scrollbar-width: thin;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

p {
    line-height: 1.4em;
    letter-spacing: 0.2px;
}

body {
    background-color: var(--neutral-100-black);
    color: white;
}

img {
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
    user-select: none;
}

button {
    all: unset;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--neutral-70);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--neutral-60);
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  var(--neutral-100-black);
    opacity: 1;
    transition: opacity 0.5s;
}

.site-header {
    height: 88px;
    background-color: var(--neutral-100-transparent);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: var(--neutral-10-white);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    user-select: none;
}

.header-container {
    max-width: 1312px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.logo a {
    background-image: url('../images/logo/monochrome-white.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 148px;
    height: 48px;
    display: block;
}

.site-title {
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-family: 'Twilio-Sans-Mono-Bold';
    font-weight: 100;
    text-transform: uppercase;
}

.menu-container {
    width: 148px;
    display: flex;
}

.menu-toggle {
    cursor: pointer;
    height: 28px;
    width: 28px;
    background-image: url('../images/icons/header/svg/menu.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: -4px;
    margin-left: auto;
}

.main-menu {
    visibility: hidden; /* Initially hidden */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 88px;
    right: 0;
    margin-right: -8px;
    background-color: var(--neutral-100-transparent);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border-radius: 0 0 2px 2px;
    width: 128px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.main-menu.active {
    visibility: visible;
    opacity: 1;
}

.main-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 12px 0 0 0;
    padding: 0 0 8px 0;
}

.main-menu li {
    margin: 6px 8px;
    display: inline-block;
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position: 97% 100%;
}

.main-menu a {
    text-decoration: none;
    color: var(--neutral-10-white);
    font-family: 'Sloth-Bold';
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    right: 32px;
    transition: color 0.1s;
}

.main-menu a:hover {
    color: var(--green-40-baseline);
}

@media (min-width: 1312px) {
    .main-menu {
        position: fixed;
        top: 88px;
        right: calc((100% - 1312px) / 2);
    }
}

@media (max-width: 1312px) {
    .main-menu {
        top: 88px;
        margin-right: 12px;
    }
}

.menu-item-home {
    background-image: url('../images/icons/header/svg/home/home-default.svg');
}

.menu-item-home:hover {
    background-image: url('../images/icons/header/svg/home/home-active.svg');
}

.menu-item-projects {
    background-image: url('../images/icons/header/svg/projects/projects-default.svg');
}

.menu-item-projects:hover {
    background-image: url('../images/icons/header/svg/projects/projects-active.svg');
}

.menu-item-about {
    background-image: url('../images/icons/header/svg/about/about-default.svg');
}

.menu-item-about:hover {
    background-image: url('../images/icons/header/svg/about/about-active.svg');
}

.menu-item-contact {
    background-image: url('../images/icons/header/svg/contact/contact-default.svg');
}

.menu-item-contact:hover {
    background-image: url('../images/icons/header/svg/contact/contact-active.svg');
}

.active {
    color: var(--green-40-baseline) !important;
}

.active:hover {
    color: var(--green-30) !important;
}

.image-container {
    overflow: hidden;
}

.image-container-vertical {
    width: 624px;
    height: 874px;
    overflow: hidden;
}

.image-container-horizontal {
    width: 640px;
    height: 360px;
    overflow: hidden;
}

.image-zoom {
    transition: transform 0.4s;
}

.footer {
    margin-top: 80px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo-image {
    width: 104px;
    height: 104px;
    transition: transform 8000s;
}

.footer-logo-image:hover {
    transform: rotate(3600000deg);
}

.contact-info {
    margin-top: 24px;
}

.social-media {
    margin-top: 16px;
}

.contact-link {
    text-decoration: none;
    color: var(--green-40-baseline);
    font-family: 'Twilio-Sans-Mono-Bold';
    font-weight: 100;
    font-size: 32px;
    text-transform: uppercase;
}

.contact-link:hover {
    color: var(--green-30);
}

.social-media-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media-item {
    margin-right: 24px;
    margin-left: 24px;
}

.social-media-icon {
    width: 44px;
    height: 44px;
}

.social-media ul li {
    transition: filter 0.3s ease-in-out;
}

.social-media ul li:hover {
    filter: brightness(1) hue-rotate(120deg) invert(90%);
}

@media (max-width: 596px) {
    .logo a {
        width: 136px;
        height: 40px;
    }
}

@media (max-width: 448px) {
    .site-title {
        display: none;
    }
}