@font-face {
    font-family: 'Twilio-Sans-Mono-ExtraBold';
    src: url('../fonts/heading/TwilioSansMono-Extrabold.otf') format('opentype');
}

@font-face {
    font-family: 'Twilio-Sans-Mono-Bold';
    src: url('../fonts/heading/TwilioSansMono-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Sloth-Regular';
    src: url('../fonts/body/Sloth-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sloth-SemiBold';
    src: url('../fonts/body/Sloth-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sloth-Bold';
    src: url('../fonts/body/SLOTH\ BOLD.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1em;
}

body {
    background-color: #040404;
    color: white;
}

.site-header {
    height: 88px;
    background-color: rgba(4, 4, 4, 0.8);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: #f5f5f5;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1312px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.logo a {
    background-image: url('../images/logo/monochrome-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 148px;
    height: 48px;
    display: block;
}

.site-title {
    margin-right: 126.5px;
    font-size: 20px;
    font-family: 'Twilio-Sans-Mono-Bold';
    font-weight: 100;
}

.menu-toggle {
    cursor: pointer;
    height: 28px;
    width: 28px;
    background-image: url('../images/icons/header/svg/menu.svg');
    background-size: 100%;
    margin-bottom: -4px;
    background-repeat: no-repeat;
}

.main-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 88px;
    right: 0;
    margin-right: -8px;
    background-color: rgba(4, 4, 4, 0.8);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border-radius: 0 0 2px 2px;
    width: 128px;
}

.main-menu.active {
    display: flex;
}

.main-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 12px 0 0 0;
    padding: 0 0 8px 0;
}

.main-menu li {
    margin: 6px 8px;
    display: inline-block;
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position: 97% 100%;
}

.main-menu a {
    text-decoration: none;
    color: #F5F5F5;
    font-family: 'Sloth-Bold';
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    right: 32px;
}

@media (min-width: 1312px) {
    .main-menu {
        position: fixed;
        top: 88px;
        right: calc((100% - 1312px) / 2);
    }
}

@media (max-width: 1312px) {
    .main-menu {
        top: 88px;
        margin-right: 12px;
    }
}

.menu-item-home {
    background-image: url('../images/icons/header/svg/home/home-default.svg');
}

.menu-item-projects {
    background-image: url('../images/icons/header/svg/projects/projects-default.svg');
}

.menu-item-about {
    background-image: url('../images/icons/header/svg/about/about-default.svg');
}

.menu-item-contact {
    background-image: url('../images/icons/header/svg/contact/contact-default.svg');
}

.menu-item-home:hover {
    background-image: url('../images/icons/header/svg/home/home-active.svg');
}

.menu-item-projects:hover {
    background-image: url('../images/icons/header/svg/projects/projects-active.svg');
}

.menu-item-about:hover {
    background-image: url('../images/icons/header/svg/about/about-active.svg');
}

.menu-item-contact:hover {
    background-image: url('../images/icons/header/svg/contact/contact-active.svg');
}

.image-container {
    overflow: hidden;
}

.image-zoom {
    transition: transform 0.4s;
}

.footer {
    margin-top: 80px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo-image {
    width: 104px;
    height: 104px;
    transition: transform 8000s;
}

.footer-logo-image:hover {
    transform: rotate(3600000deg);
}

.contact-info {
    margin-top: 24px;
}

.social-media {
    margin-top: 16px;
}

.contact-link {
    text-decoration: none;
    color: #07F52C;
    font-family: 'Twilio-Sans-Mono-Bold';
    font-weight: 100;
    font-size: 32px;
    text-transform: uppercase;
}

.social-media-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media-item {
    margin-right: 24px;
    margin-left: 24px;
}

.social-media-icon {
    width: 44px;
    height: 44px;
}